Dockerfile

.git
.github
.gitignore

.vscode

**__pycache__
**.pytest_cache
**node_modules
**.next
**.ruff_cache
**.precommit*
**.env
**out
**tests
**venv
**.venv

app/cli
app/devscripts
app/dev.py
docs
