<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <!-- For all browsers -->
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.7/base.min.css" rel="stylesheet">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    </noscript>

</head>

<body class="layout--splash">
    <div class="masthead">
        <div class="masthead__inner-wrap">
            <div class="masthead__menu">
                <nav id="site-nav" class="greedy-nav">
                    <a class="site-logo"><img src="/static/thoughtworks_logo_grey.png" alt="Haiven"></a>
                    <a class="site-title">
                        Haiven
                    </a>

                </nav>
            </div>
        </div>
    </div>
    <div class="initial-content">
        <div id="main" role="main">
            <article>

                <section class="page__content" itemprop="text">
                    <div>

                        <div>
                            {% if user %}
                            <p>Hello {{ user["given_name"] }}!</p>
                            <p>
                                <a href="/analysis">Access Haiven</a>
                            </p>

                            <p> <a href="/logout">Logout</a>
                            </p>
                            {% else %}
                            <p>Welcome to Haiven !</p>
                            {% for provider in identity_providers %}


                            <p>

                                <a href="/login?provider={{ provider.id }}">Login using {{ provider.name }}</a>
                            </p>

                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
        </div>
        </section>
        </article>
    </div>

    </div>

</body>

</html>