# SOURCE FOR PROMPTS AND KNOWLEDGE
# Check the documentation for the expected structure of the folder
TEAM_CONTENT_PATH=../demo-knowledge-pack
# Name of the domain to enable (subfolder name in the content path)
DOMAIN_NAME=team_demo

# OAUTH
OPENID_CONF_URL=<wellknown-opein-id-config-url>
OAUTH_CLIENT_ID=<oauth-client-id>
OAUTH_CLIENT_SECRET=<oauth-client-secret>

# ENABLED MODELS
ENABLED_PROVIDERS=azure
ENABLED_EMBEDDINGS_MODEL=text-embedding-ada-002
ENABLED_VISION_MODEL=azure-gpt4-with-vision

# AZURE MODEL SETUP DATA
AZURE_OPENAI_API_VERSION=2023-05-15
AZURE_OPENAI_API_BASE=<Base URL for OpenAI instance on Azure>
AZURE_OPENAI_API_KEY=<Azure OpenAI API Key>
AZURE_OPENAI_DEPLOYMENT_NAME_GPT4=<Deployment name for GPT4 deployment>
AZURE_OPENAI_DEPLOYMENT_NAME_GPT35=<Deployment name for GPT3.5 deployment>

AZURE_AI_VISION_API_BASE=<Azure API Base>
AZURE_AI_VISION_API_KEY=<Azure API Key>
AZURE_AI_VISION_DEPLOYMENT_NAME=<Deployment name for GPT-4 with vision>
AZURE_AI_VISION_API_VERSION="2023-12-01-preview"
