# SOURCE FOR PROMPTS AND KNOWLEDGE
# Check the documentation for the expected structure of the folder
# There are sample and Thoughtworks-private knowledge packs in the Haiven GitHub org at github.com/tw-haiven
KNOWLEDGE_PACK_PATH=../../haiven-sample-knowledge-pack

# OAUTH
OPENID_CONF_URL=<wellknown-opein-id-config-url>
OAUTH_CLIENT_ID=<oauth-client-id>
OAUTH_CLIENT_SECRET=<oauth-client-secret>

# ENABLED MODELS
ENABLED_PROVIDERS=aws
ENABLED_EMBEDDINGS_MODEL=amazon.titan-text-express-v1
ENABLED_VISION_MODEL=aws-claude-sonnet-3.5

# AWS BEDROCK AUTH
AWS_ACCESS_KEY_ID=<access-key-id>
AWS_SECRET_ACCESS_KEY=<secret-access-key>
AWS_BEDROCK_REGION=<aws-bedrock-region>
