authlib
boto3
chromadb
faiss-cpu
fastapi==0.109.1
google-cloud-aiplatform==1.39.0
gradio==4.19.2
itsdangerous
Jinja2==3.1.3
langchain==0.1.11
langchain-google-genai
langchain-google-vertexai
langchain-openai
loguru
ollama
openai==1.8.0
pyarrow
pypdf
pytest
pytest-mock
python-frontmatter===1.0.1
shapely<2.0.0
tiktoken
typing_extensions
typing-inspect
unstructured
uvicorn