:root {
  --color-flamingo: #f2617aff;
  --color-light-gray: #edf1f3;
  --color-dark-blue: #003d4f;
  --color-sapphire: #47a1ad;

  --checkbox-background-color: #edf1f3;
  --checkbox-background-color-selected: var(--color-flamingo);

  --link-text-color: var(--color-flamingo);
  --link-text-color-active: var(--color-flamingo);
  --link-text-color-hover: var(--color-flamingo);
  --link-text-color-visited: var(--color-flamingo);
}

img {
  width: 150px;
  float: right;
}

.disclaimer {
  background-color: var(--color-flamingo);
  font-weight: bold;
  padding-left: 0.5em;
}
.disclaimer p {
  color: white !important;
}
.disclaimer a {
  color: white !important;
}

.model-settings {
  background-color: var(--background-fill-secondary) !important;
}

.model-settings-service label .wrap {
  font-size: 0.9em !important;
  background-color: var(--checkbox-label-background-fill) !important;
}

.hint {
  font-size: 0.8em !important;
}

.prompt-choice .prompt-help {
  padding-left: 5px;
  background-color: var(--background-fill-secondary);
}

.user-help-col {
  background-color: var(--color-light-gray);
  font-size: 0.9em !important;
  padding-left: 1em;
  padding-right: 1em;
}

.message {
  font-size: var(--body-text-size) !important;
}

.header {
  background-color: var(--color-dark-blue);
  padding: 1em;
}

/* Header styling: One row */
/* .header-title h1 {
  font-family: Bitter, "Noto Serif SC", serif;
  color: white !important;
  display: inline;
}
.header-title h2 {
  display: inline;
  color: var(--color-sapphire) !important;
  margin-top: -0.8em;
  margin-left: 0.5em;
  font-size: 1em;
  text-transform: lowercase;
} */

/* Header styling: Two rows */
.header-title h1 {
  font-family: Bitter, "Noto Serif SC", serif;
  color: white !important;
}
.header-title h2 {
  color: var(--color-sapphire) !important;
  margin-top: -0.8em;
  font-size: 1em;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation .item {
  display: flex;
}

.navigation .item-link {
  background-color: #00000000;
  font-weight: bold;
  color: white !important;
  text-decoration: none !important;
  padding: 0;
  margin-right: 1em;
}

.navigation .item-link.selected {
  color: var(--color-flamingo) !important;
}

.navigation .item-link.knowledge {
  color: var(--color-sapphire) !important;
}

.navigation .icon {
  width: 1.5em;
  float: left;
  margin-right: 0.3em;
}

.documentation-tab img {
  float: none;
  width: 50em;
}

.about img {
  float: none;
  width: 50em;
}

.teamai-group .primary {
  border: 1em solid var(--background-fill-secondary) !important;
}

.teamai-group .secondary {
  border: 1em solid var(--background-fill-secondary) !important;
}

.teamai-group-title {
  padding: 0.3em;
  background-color: var(--background-fill-secondary);
  color: var(--block-title-text-color) !important;
}

.teamai-group-title h2 {
  color: var(--block-title-text-color) !important;
  margin: 0;
}

/* When prose class is added, chatbot is displayed with bigger font size for some reason
  It is unclear when this class is added or not, sometimes it happens, sometimes it doesn't */
.chatbot.prose {
  font-size: var(--body-text-size) !important;
}

.knowledge-advice .knowledge-label label span {
  background-image: url("/static/icon_knowledge_blue.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2em;
}

.prompt-help.knowledge.prose {
  margin-top: 0.5em;
  color: var(--color-sapphire);

  background-image: url("/static/icon_knowledge_blue.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2em;
}

.knowledge-button {
  background-color: var(--color-sapphire);
  color: white;
}

@media (prefers-color-scheme: dark) {
  .model-settings {
    background-color: var(--block-background-fill) !important;
  }

  .model-settings label {
    color: black !important;
  }

  .user-help-col {
    background-color: var(--block-background-fill) !important;
  }

  .primary {
    background-color: var(--color-flamingo) !important;
  }
}

.show-api {
  display: none !important;
}

.show-api + div {
    display: none !important;
}

.copyright_text{
    text-align: center;
}