:root {
  --color-light-gray: #edf1f3;

  --color-flamingo: #f2617aff;
  --color-dark-blue: #003d4f;
  --color-sapphire: #47a1ad;  
  --color-amethyst-purple: #634F7D;
  --color-jade-green: #6B9E78;
  --color-turmeric-yellow: #CC850A;
  --color-dark-gray: #666666ff;

  --color-sapphire-light: #47a1ad80;
  
  --standard-left-padding: 1.5em;
  --font-weight-semi-bold: 630;
}

/**** GENERAL ****/

html {
  line-height: 1.5;
  font-family:
    Inter,
    Noto Sans SC,
    sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4 {
  margin: 0.5em 0;
  font-weight: var(--font-weight-semi-bold)
}

h1 {
  font-size: 1.5em;
}

/**** CHAT *****/
.ant-pro-chat {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 80%;
  overflow: auto; /* Adds scrollbars to ant-pro-chat if content overflows */
}

.ant-pro-chat p {
  word-break: keep-all !important;
}

.ant-avatar {
  border-radius: 0;
}

.ant-avatar img {
  width: 1em;
  height: 1em;
}

/* ************************* */

#canvas {
  padding-left: 5px;
  margin-bottom: 20px;

  overflow-x: hidden;
  height: 100%;
}


.section-header .tooltip-help {
  margin-left: 0.5em;
  fill: var(--color-sapphire)
}

.config-icon {
  display: inline-block;
  font-size: 15px;
  vertical-align: bottom;
}

/***** HEADER **********/

.header {
  background-color: var(--color-dark-blue);
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.header .left-section {
  display: flex;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  height: 20px;
  margin-right: 10px;
}

.header .separator {
  width: 1px;
  height: 24px;
  background-color: white;
  margin: 0 15px;
}

.header .title {
  font-size: 16px;
}

.header .mode-switch {
  display: flex;
  align-items: center;
}

.header .mode-switch span {
  margin-right: 10px;
}

.header .mode-button {
  border: none;
  padding: 5px 10px;
}

.header .mode-selected {
  background-color: white;
  color: black;
  cursor: none;
}

.header .mode-other {
  background-color: #2d2d2d;
  color: grey;
  cursor: pointer;
}

.header .mode-other a {
  text-decoration: none !important;
  color: grey;
}

.header .mode-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header .mode-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/**** INPUT --> GENERATION RESULTS COLUMN LAYOUT *****/
.prompt-chat-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.prompt-chat-container .prompt-chat-options-container {
  padding: var(--standard-left-padding);
  padding-top: 1em;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Cannot put a class on the root div of the chat (which is probably from ProChatProvider component) */
.prompt-chat-container > :nth-child(2) {
  display: flex;
  flex: 3;
}

.prompt-chat-options-container .go-button {
  width: 100%;
  font-weight: var(--font-weight-semi-bold);
  font-size: 90%;
  margin-top: 2em;
}

.prompt-chat-options-container .user-input {
  padding: 0.5em 0;
}

.prompt-chat-options-container .user-input label {
  margin-right: 0.3em;
  font-weight: var(--font-weight-semi-bold);
}

.prompt-chat-options-container .user-input textarea, .prompt-chat-options-container .user-input input {
  max-width: 600px;
  display: block;
  padding: 0.6em;
}

/****** SCENARIO CARDS *******/
.scenarios-collection {
  padding: var(--standard-left-padding) var(--standard-left-padding);
  flex-direction: column;
  flex: 3 !important;
}

.scenarios-collection .cards-container {
  margin-top: 1em;
}

.scenarios-collection .ant-card-body {
  padding-top: 0.5em;
  padding-bottom: 0;
  padding-right: 0.5em;
}

.scenarios-collection.equal-display .scenario-card-content {
  height: 300px;
  overflow-y: scroll;
}

.scenarios-collection.list-display .scenario-card-content {
  height: auto;
  overflow-y: visible;
}

.scenarios-collection.stack-display .scenario-card-content {
  height: auto;
  overflow-y: visible;
}

.scenarios-collection.stack-display .scenario {
  width: 100%;
}

.scenarios-collection.stack-display .ant-card-body {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.scenarios-collection.stack-display .scenario .card-prop.stackable,
.scenarios-collection.stack-display
  .scenario
  .card-prop.stackable
  .card-prop-name,
.scenarios-collection.stack-display
  .scenario
  .card-prop.stackable
  .card-prop-value {
  display: inline-block;
  padding-right: 5px;
}

.scenarios-collection.plot-display .scenario {
  display: none;
}

.scenarios-collection.plot-display .plot {
  display: block;
}

.scenario {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin: 0.3em;
  padding-top: 0.8em;
  height: 380px;
}

.scenario .scenario-card-content {
  height: 245px;
  overflow-y: auto;
  font-size: small;

}

.scenario .q-a-card-content {
  height: 235px;
  font-size: small;
}

.ant-card {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.ant-card-head {
  border-bottom: 1px solid var(--color-light-gray) !important;
  height: 60px;
  justify-content: top  !important;
}

.ant-card-head-title {
  font-weight: var(--font-weight-semi-bold);
  white-space: normal !important;
  height: 60px;
}

.ant-card-actions {
  background-color: transparent !important;
}

.scenario-card-content .card-prop-name {
  font-weight: var(--font-weight-semi-bold);
} 

.display-mode {
  position:relative;
  z-index: 0;
}

/**** STORY VALIDATION ******/
.generated-text-results {
  padding: 0 var(--standard-left-padding);
  border: 1px solid var(--color-light-gray);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.generated-text-results .icon-button {
  float: right;
  background: transparent;
  box-shadow: none;
  border: none;
  margin-top: 1em;
}

/*** CREATIVE MATRIX ****/

.matrix-container {
  flex: 5;
  margin-top: 1em;
  padding-left: 1em;
}


.boba-matrix,
.boba-matrix table {
  width: 100%;
}

.boba-matrix table td {
  text-align: center;
  min-height: 150px;
}

.boba-matrix table td.content {
  border: 1px solid silver;
}

.boba-matrix .matrix-item {
  margin: 10px 5px;
  background: var(--color-sapphire);
  padding: 5px;
  cursor: pointer;
  color: white;
  max-width: 150px;
}

.boba-matrix .matrix-item .matrix-item-title {
  font-weight: var(--font-weight-semi-bold);
  
}

/**** EXPLORATION CHAT ****/
.chat-exploration-drawer {
  width: 500px;
}

.drawer-header {
  padding-bottom: 1em;
}

.suggestions-list {
  padding: 0.5em 0;
}

.suggestions-title {
  font-weight: var(--font-weight-semi-bold);
  font-size: 85%;
}

.suggestion {
  width: 100%;
  margin-bottom: 1px;
  overflow: hidden;
  text-overflow: clip;
  padding: 0.4em 0.3em;
  font-size: 85%;
}

.ant-drawer-header {
  padding: 10px !important;
}
.ant-drawer-body {
  padding: 16px !important;
}
.ant-drawer-close {
  margin-right: 5px !important;
}

.chat-exploration {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-exploration .bottom {
  margin-top: auto;
  /* padding-bottom: 10px; */
  bottom: 0;
}

/******* SIDEBAR ******/

.sidebar {
  height: 100vh;
}

.sidebar .ant-menu-submenu-inline .ant-menu-submenu-title, .sidebar .ant-menu-item {
  padding-left: 0.8em !important;
  font-size: 90%;
}

.sidebar .ant-menu-submenu-inline .ant-menu-submenu-title svg {
  margin-right: -0.2em;
}

.sidebar .ant-menu-inline .ant-menu-item {
  padding-left: 2.6em !important;
  font-size: 90%;
}

.sidebar .ant-menu-inline .ant-menu-item svg {
  margin-right: -0.3em;
}

/* LANDING PAGE */

.landing-page {
  padding: 1em 2em;
}

.landing-page .sample-screenshot {
  width: 70%;
  height: 70%;
  color: #364d79;
  line-height: 160px;
  text-align: center;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}


/* DASHBOARD - not used at the moment, hidden experiment */
.dashboard {
  padding: 2em;
}

.dashboard-tile {
  width: 250px;
  height: 250px;
  padding-top: 0.5em;
}

.dashboard-tile .ant-card-body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 80%;
}

.dashboard-tile .tile-tags {
  margin-top: auto;
}


/******* CLIPBOARD ******/
.btn-clipboard {
  margin-left: 1em;
  float: right;
  fill: white;
  background-color: var(--color-dark-blue)

}

.btn-clipboard svg {
  fill: white;
}

.clipboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.clipboard-contents {
  flex: 1;
  overflow-y: auto;
}

.clipboard .bottom {
  margin-top: auto;
  /* padding-bottom: 10px; */
  bottom: 0;
}

.clipboard .snippet {
  background: white;
  cursor: pointer;
  padding: 0.5em;
  margin: 1em 0;
}

.clipboard .snippet:hover {
  background: var(--color-sapphire-light)
}

.clipboard .snippet p {
  margin: 0;
}

.clipboard .snippet h1, h2, h3, h4 {
  font-size: 1.2em;
}
