:root {
  --color-light-gray: #edf1f3;
  --color-medium-gray: #d9dfe1ff;

  --color-flamingo: #f2617aff;
  --color-dark-blue: #003d4f;
  --color-sapphire: #47a1ad;  
  --color-amethyst-purple: #634F7D;
  --color-jade-green: #6B9E78;
  --color-turmeric-yellow: #CC850A;
  --color-dark-gray: #666666ff;

  --color-sapphire-light: #47a1ad80;
  
  --standard-left-padding: 1.5em;
  --font-weight-semi-bold: 630;
}

/**** GENERAL ****/

html {
  line-height: 1.5;
  font-family:
    Inter,
    Noto Sans SC,
    sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4 {
  margin: 0.5em 0;
  margin-bottom: 0.3em;
  font-weight: var(--font-weight-semi-bold);
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4, h5 {
  font-size: 1.1em;
}

/**** CHAT *****/
.chat-container {
  height: 95%;
  width: 72%;
  float: inline-start;
}

.collapsed .chat-container {
  height: 90%;
  width: 100%;
}

.prompt-chat-container .ant-pro-chat-chat-list-container {
  height: inherit !important;
}

.prompt-chat-container.collapsed .ant-pro-chat-chat-list-container {
  height: 85% !important;
}

.ant-pro-chat {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 80%;
  overflow: auto; /* Adds scrollbars to ant-pro-chat if content overflows */
}

.ant-pro-chat p {
  word-break: keep-all !important;
}

.ant-pro-chat .ant-pro-chat-message-content {
 flex-direction: column !important;
 border: 0;
}

.ant-pro-chat .ant-pro-chat-input-area-text-container {
  box-shadow: none;
  border: 2px solid var(--color-medium-gray);
  border-radius: 0%;
}

.ant-pro-chat .ant-pro-chat-input-area-component-textarea {
  border-radius: 0% !important;
}

.ant-pro-chat .ant-pro-chat-input-area {
  z-index: 0;
  background-image: none;
}

.ant-pro-chat .ant-pro-chat-input-area-action-bar {
  display: none;
}

.ant-pro-chat .ant-pro-chat-list-item-title {
  display: none !important;
}

.ant-avatar {
  border-radius: 0;
}

.ant-avatar img {
  width: 1.4em;
  height: 1.4em;
}

.chat-message {
  background-color: white;
  line-height: 1.5;
  max-width: 800px;
  overflow: auto;
}

.chat-message.user {
  background-color: var(--color-light-gray);
  padding: 10px;
  margin-top: 10px;
}

.chat-message p {
  margin: 0;
  margin-bottom: 1em;
  font-size: 14px;
}

.chat-message p:last-child {
  margin-bottom: 0;
}

.chat-message h1 {
  font-size: 20px;
}

.chat-message h2 {
  font-size: 16px;
}

.chat-message h3,
.chat-message h4, 
.chat-message h5, 
.chat-message h6, 
.chat-message li {
  font-size: 14px;
}

.chat-message pre {
  background-color:  #f8f8f8;
  padding: 10px;            
  overflow-x: auto;
  font-size: 14px; 
}

.chat-message code {
  background-color:  #f8f8f8;
  padding: 2px 4px;
  font-size: 14px;
}

.chat-message table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 14px;
}

.chat-message th, .chat-message td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.chat-message th {
  background-color: #f8f8f8;
  font-weight: var(--font-weight-semi-bold)
}

.chat-message tr:hover {
  background-color: #f8f8f8;
}
/* ************************* */

#canvas {
  overflow-x: hidden;
  height: 100%;
}

.ant-message-notice-content {
  border-radius: 0% !important;
}

.section-header .tooltip-help {
  margin-left: 0.5em;
  fill: var(--color-sapphire)
}

.config-icon {
  display: inline-block;
  font-size: 15px;
  vertical-align: bottom;
}

.tooltip-help {
  margin-left: 0.3em;
  margin-bottom: 0.1em;
  fill: var(--color-sapphire);
  font-size: large;
  vertical-align: middle;
}

/***** HEADER **********/

.header {
  background-color: var(--color-dark-blue);
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.header .left-section {
  display: flex;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  height: 20px;
  margin-right: 10px;
}

.header .separator {
  width: 1px;
  height: 24px;
  background-color: white;
  margin: 0 15px;
}

.header {
  font-size: 14px;
}

.header .header-links a {
  color: white;
  display: inline;
  padding: 1em;
}

.header .mode-switch {
  display: flex;
  align-items: center;
}

.header .mode-switch span {
  margin-right: 10px;
}

.header .mode-button {
  border: none;
  padding: 5px 10px;
}

.header .mode-selected {
  background-color: white;
  color: black;
  cursor: none;
}

.header .mode-other {
  background-color: #2d2d2d;
  color: grey;
  cursor: pointer;
}

.header .mode-other a {
  text-decoration: none !important;
  color: grey;
}

.header .mode-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header .mode-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
/**** PINBOARD *****/
.pinboard {
  display: flex;
  align-items: center;
}

.pinboard-modal {
  position: fixed;
  right: 0;
  top: 67px;
  height: 95vh;
}

.pinboard-modal .empty-pinboard {
  background-color: var(--color-light-gray);
  height: 40%;
  align-content: center;
  color: var(--color-dark-gray);
}

.pinboard-modal .empty-pinboard p {
  margin: 0;
}

.empty-pinboard .empty-state-message {
  padding-left: 20%;
}

.empty-pinboard .empty-state-instruction {
  padding-left: 30%;
}

.pinboard-modal .ant-modal-content {
  background-color: var(--color-light-gray);
  padding: 12px 24px;
  height: 95vh;
}

.ant-modal .ant-modal-content .ant-modal-body {
  height: 90% !important;
  overflow: auto !important;
}

.pinboard-card {
  width: 350px;
  flex-direction: column;
  margin: 0.8em;
}

.pinboard-card .ant-card-body {
  padding: 16px;
}

.pinboard-title {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-gray);
  padding-left: 0.7em;
}

.pin-icon {
  padding-right: 0.2em;
  transform: rotate(45deg);
}

.pinboard-card-content {
  max-height: 280px;
  overflow-y: auto;
  padding: 0;
}

.ant-card-actions li, .card-actions-footer li {
  margin: 0 !important;
}

.pinboard-card-action-items {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0 12px;
}

.pinboard-card-action-items .card-action {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pinboard-card-action-items .card-action button {
  padding: 4px !important;
}

.saved-response {
  font-size: 14px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 10px;
}


/**** INPUT --> GENERATION RESULTS COLUMN LAYOUT *****/
.prompt-chat-container {
  height: 100%;
}

.social-preview, .social-preview-image {
  max-width: 0px;
  max-height: 0px;
  visibility: hidden;
}

.prompt-chat-options-section .prompt-chat-description {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-medium-gray);
  margin-bottom: 18px;
  margin-left: -19.5px;
  margin-right: -19.5px;
  padding-left: 19.5px;
  padding-right: 19.5px;
}

.prompt-chat-options-container {
  padding: var(--standard-left-padding);
  padding-top: 1em;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  width: 360px;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow-y: auto;
  height: 100%;
  float: left;
}

.prompt-chat-options-container .go-button {
  font-weight: var(--font-weight-semi-bold);
  font-size: 90%;
}

.prompt-chat-options-container .user-input {
  padding-bottom: 1em;
}

.prompt-chat-options-container .user-input label {
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  display: block;
  font-weight: var(--font-weight-semi-bold);

  &.inline, &.ant-checkbox-wrapper {
    display: flex;
    font-weight: normal;
  }
}

.prompt-chat-options-container .user-input textarea, 
.prompt-chat-options-container .user-input input {
  width: 100%;
  padding: 0.6em;
}

.prompt-chat-options-container .go-button,
.prompt-chat-options-container .ant-select {
  width: 100%;
  &.small {
    width: 30%;
  }
}

.ant-upload {
  width: 100%;
}

.prompt-chat-options-container .image-uploader {
  display: block;
  width: 100%;
}

.prompt-chat-options-container .image-uploader .ant-upload button {
  height: 50px;
  width: 100%;
  border: 1px dashed var(--color-dark-gray);
}

.prompt-chat-options-container .prompt-chat-options-section {
  margin-top: 0.6em;
}

.collapsed .prompt-chat-options-container {
  padding-bottom: 0px;
  background-color: inherit !important;
  height: 5%;
  box-shadow: none;
  border-bottom: 1px solid var(--color-light-gray);
}

.prompt-chat-container .ant-collapse-content-box {
  padding: 0px !important;
}

.prompt-chat-options-container .ant-collapse-header {
  color: #666666 !important;
  padding: 5px 0px !important;
}

.prompt-chat-options-container.ant-collapse {
  padding-top: 4px;
}

.hide {
  display: none;
}

.title-for-collapsed-panel {
  display: none;
  text-align: left;
}

.collapsed .title-for-collapsed-panel {
  display: block;
  margin-top: 7px;
  margin-bottom: 10px;
  height: 5%;
  padding-left: var(--standard-left-padding);
}

.prompt-chat-container.collapsed {
  display: block;
  overflow-y: hidden;
}

.prompt-preview {
  background-color: var(--color-light-gray);
  height: 70svh;
  padding: 1em;
  overflow: auto;
}

.prompt-preview-btn {
  padding-left: 0;
}

.prompt-preview-copy-btn {
  position: absolute;
  right: 24px;
  background-color: var(--color-dark-gray);
  margin: 1em;
}

.prompt-preview-diff-highlight {
  color: var(--color-flamingo);
  font-weight: var(--font-weight-semi-bold);
}

/****** SCENARIO CARDS *******/
.scenarios-collection {
  padding: 0 var(--standard-left-padding) var(--standard-left-padding) var(--standard-left-padding) ;
  display: block !important;
  flex: 3 !important;
  height: 85%;
  overflow: auto;
}

.scenarios-collection .cards-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.scenarios-collection .scenario-card-content {
  padding-top: 0.5em;
  padding-bottom: 0;
  overflow-y: auto;
}


.scenarios-collection.equal-display .scenario-card-content {
  height: 300px;
  overflow-y: auto;
}

.scenarios-collection .card-actions-footer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px;
  bottom: 0;
}

.scenarios-collection .card-actions-footer li {
  width: fit-content !important;
}

.scenarios-collection .card-actions-footer button:hover, .copy-all:hover {
  color: #CA6070 !important;
}

.copy-all {
  font-weight: 500;
}
.scenario-card-content {
  scrollbar-width: thin;
  scrollbar-color: var(--color-light-gray) white;
}

.scenarios-collection.plot-display .scenario {
  display: none;
}

.scenarios-collection.plot-display .plot {
  display: block;
}

.scenario {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0.8em;
  padding-top: 0.8em;
  height: 400px;
}

.scenario .scenario-card-content {
  height: 270px;
  overflow-y: auto;
  font-size: small;
}

.scenario .q-a-card-content {
  height: 235px;
  font-size: small;
}

.ant-card {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-height: auto;
}

.scenarios-collection .ant-card {
  border: 1px solid var(--color-light-gray);
  box-shadow: none;
}

.ant-card-head {
  border-bottom: 1px solid var(--color-light-gray) !important;
  justify-content: top  !important;
}

.ant-card-head-title {
  font-weight: var(--font-weight-semi-bold);
  white-space: normal !important;
  padding-bottom: 1em;
}

.ant-card-actions, .card-actions-footer {
  background-color: transparent !important;
}

.card-prop-name {
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 0.2em;
} 

.display-mode-choice {
  position:relative;
  z-index: 0;
  float:right;
}

.display-mode-choice span {
  font-size: 0.8em;
  margin-left: 0.2em;
}

.display-mode-choice label {

  border: none;
  
  &.ant-radio-button-wrapper-checked {
    background-color: var(--color-flamingo);
    color: white;
  }
}

.scenarios-actions {
  height: 5%;
  padding-left: var(--standard-left-padding);
  padding-right: var(--standard-left-padding);
}

.follow-up-container {
  display: flex;
  flex-direction: column;
}

/**** STORY VALIDATION ******/

.second-step-collapsable .ant-collapse-header {
  background-color: var(--color-light-gray);
  font-weight: var(--font-weight-semi-bold);
  
}

.second-step-collapsable .ant-collapse-content {
  background-color: white;
}

.second-step-section p {
  margin-top: 0;
}

.generated-text-results {
  padding: 0 var(--standard-left-padding);
  border: 1px solid var(--color-light-gray);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 1em;
}

.generated-text-results .icon-button {
  float: right;
  background: transparent;
  box-shadow: none;
  border: none;
  margin-top: 1em;
}

.generated-text-results h1 {
  font-size: 1.2em;
}



/*** CREATIVE MATRIX ****/

.matrix-container {
  flex: 5;
  padding: 1em;
  height: 95%;
  width: 72%;
  float: inline-start;
}
  
.collapsed .matrix-container {
  height: 90%;
  width: 100%;
}

.matrix-table {
  width: 95%;
  border-collapse: collapse;
}

.boba-matrix,
.boba-matrix table {
  width: 100%;
}

.boba-matrix table td {
  text-align: center;
  min-height: 150px;
}

.boba-matrix table td.content {
  border: 1px solid silver;
}

.boba-matrix .matrix-item {
  margin: 10px 5px;
  background: var(--color-sapphire);
  padding: 5px;
  cursor: pointer;
  color: white;
  max-width: 150px;
}

.boba-matrix .matrix-item .matrix-item-title {
  font-weight: var(--font-weight-semi-bold);
  
}

/**** EXPLORATION CHAT ****/
.chat-exploration-drawer {
  width: 500px;
}

.drawer-header {
  padding-bottom: 1em;
}

.suggestions-list {
  padding: 0.5em 0;
}

.suggestions-list button {
  background-color: var(--color-light-gray);
  color: black;
}

.suggestions-title {
  font-weight: var(--font-weight-semi-bold);
  font-size: 85%;
}

.suggestion {
  width: 100%;
  margin-bottom: 1px;
  overflow: hidden;
  text-overflow: clip;
  padding: 0.4em 0.3em;
  font-size: 85%;
}

.ant-drawer-header {
  padding: 10px !important;
}
.ant-drawer-body {
  padding: 16px !important;
}
.ant-drawer-close {
  margin-right: 5px !important;
}

.chat-exploration {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-exploration .bottom {
  margin-top: auto;
  /* padding-bottom: 10px; */
  bottom: 0;
}

/******* SIDEBAR ******/

.sidebar {
  height: 100%;
  padding-top: 10px;
  overflow: auto;
}

.sidebar .ant-menu-inline {
  background-color: none;
}

.sidebar .ant-menu-submenu-inline .ant-menu-submenu-title, .sidebar .ant-menu-item {
  padding-left: 0.8em !important;
  font-size: 90%;
}

.sidebar .ant-menu-submenu-inline .ant-menu-submenu-title svg {
  margin-right: -0.2em;
}
.sidebar .ant-menu-item svg {
  margin-right: -0.2em;
}

.sidebar .ant-menu-inline .ant-menu-item {
  padding-left: 2.6em !important;
  font-size: 90%;
}

.sidebar .ant-menu-inline .ant-menu-item svg {
  margin-right: -0.3em;
}

.sidebar .ant-menu-submenu-selected .ant-menu-submenu-title,
.sidebar .ant-menu-item-selected {
  font-weight: var(--font-weight-semi-bold);
  color: black;
}

.sidebar .ant-menu-item-selected {
  background-color: var(--color-medium-gray);
}

/* DASHBOARD - not used at the moment, hidden experiment */
.dashboard {
  padding: 2em;
}

.dashboard .headline {
  margin: 80px 0;
}

.dashboard .headline h1 {
  font-weight: var(--font-weight-semi-bold);
}

.dashboard .subline {
  font-size: 18px;
  text-align: center;
}

.dashboard h2 {
  font-weight: var(--font-weight-semi-bold);
  font-size: 18px;
  text-align: center;
}

.dashboard h1 {
  font-size: 44px;
  margin-bottom: 10px;
  text-align: center;
}

.dashboard-scenarios {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dashboard .ant-space {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-filters {
  text-align: center;
}

.dashboard-tile {
  width: 250px;
  height: 250px;
  padding-top: 0.5em;
  margin-right: 1em;
  margin-bottom: 1em;
  position: relative;
}

.dashboard-tile .ant-card-body {
  overflow: auto;
  height: 130px;
}

.capitalize {
  text-transform: capitalize;
}

.dashboard-tile .ant-card-actions {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  padding-left: 24px;
}

.ant-tag {
  padding: 0.4em 0.8em;
}

.dashboard-filter-category {
  background-color: var(--color-light-gray);
  color: black;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  text-transform: capitalize;

  &.ant-tag-checkable-checked {
    color: white;
    background-color: var(--color-dark-gray);

    &.analysis {
      background-color: var(--color-flamingo);
    }
    &.coding {
      background-color: var(--color-turmeric-yellow);
    }
    &.testing {
      background-color: var(--color-sapphire);
    }
    &.architecture {
      background-color: var(--color-amethyst-purple);
    }
    &.ideate {
      background-color: var(--color-jade-green);
    }
    &.research {
      background-color: var(--color-dark-blue);
    }
    /* &.other {
      background-color: var(--color-dark-gray)
    } */
  }

}

.disclaimer{
  align-content: center;
  text-align: right;
  height: 5%;
  color: #666666ff;
  padding-right: 35px;
  font-size: 12px;
  border-bottom: 1px solid var(--color-light-gray);
  float: none;
}

/****** KNOWLEDGE OVERVIEW ******/
.knowledge-overview {
  padding: var(--standard-left-padding);
}
.knowledge-columns-container {
  display: flex;
  flex-direction: row;
}
.knowledge-list {
  flex: 1;
  margin-right: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  
  padding: 1em;
}
.knowledge-overview .snippet {
  background: white;
  cursor: pointer;
  padding: 1em;
  margin: 1em 1.5em;
}

.knowledge-overview .snippet-title {
  margin-left: 1.5em;
}

.snippet h1, .snippet h2, .snippet h3 {
  font-size: 1.1em;
}

/******* CLIPBOARD ******/
.btn-clipboard {
  margin-left: 1em;
  float: right;
  fill: white;
  background-color: var(--color-dark-blue)
}

.btn-clipboard svg {
  fill: white;
}

.clipboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.clipboard-contents {
  flex: 1;
  overflow-y: auto;
}

.clipboard .bottom {
  margin-top: auto;
  /* padding-bottom: 10px; */
  bottom: 0;
}

.clipboard .snippet {
  background: white;
  cursor: pointer;
  padding: 0.5em;
  margin: 1em 0;
}

.clipboard .snippet:hover {
  background: var(--color-sapphire-light)
}

.clipboard .snippet p {
  margin: 0;
}

.clipboard .snippet h1, h2, h3, h4 {
  font-size: 1.2em;
}
